@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6weicu');
  src:  url('../fonts/icomoon.eot?6weicu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6weicu') format('truetype'),
    url('../fonts/icomoon.woff?6weicu') format('woff'),
    url('../fonts/icomoon.svg?6weicu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e90b";
}
.icon-zoom:before {
  content: "\e90a";
}
.icon-tg:before {
  content: "\e909";
}
.icon-prev:before {
  content: "\e90c";
}
.icon-arrow:before {
  content: "\e90d";
}
.icon-apple:before {
  content: "\e900";
}
.icon-atlassian:before {
  content: "\e901";
}
.icon-audi:before {
  content: "\e902";
}
.icon-bitbucket:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-twit:before {
  content: "\e905";
  color: #6188ff;
}
.icon-m:before {
  content: "\e906";
  color: #757e9a;
}
.icon-fb:before {
  content: "\e907";
  color: #b6bac7;
}
.icon-play:before {
  content: "\e908";
}
