.raiting {
  padding: 20px;
}

.raiting__body {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.raiting__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 1;
}

.raiting__input:checked, .raiting__input:checked ~ .raiting__label {
  color: #ebee2c;
}

.raiting__label {
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

.raiting__label:hover, .raiting__label:hover ~ .raiting__label {
  color: #fbfd91;
}
