@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  widows: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------------*/
/*--------------------------------------------------*/
.burger {
  background: none;
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 4;
}

.burger::after, .burger::before, .burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.burger::after, .burger::before {
  content: '';
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  top: 50%;
  -webkit-transform: scaleX(1) translate(0, -50%);
          transform: scaleX(1) translate(0, -50%);
}

.burger.active::before {
  top: 9px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.burger.active::after {
  bottom: 9px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.burger.active span {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

@media (max-width: 767px) {
  .burger {
    display: block;
  }
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 920px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  padding: 13px 20px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 13px;
  line-height: 123.07692%;
  color: #3A79FF;
  background: #D2E1FF;
  border-radius: 2px;
  display: inline-block;
  -webkit-transition: background .3s;
  transition: background .3s;
  white-space: nowrap;
  position: relative;
  z-index: 10;
}

@media (any-hover: hover) {
  .button:hover {
    background: #acc6ff;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.title-1 {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 48px;
  line-height: 125%;
  color: #3D4F9F;
}

.title-1 span {
  font-weight: 500;
}

.title-2 {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 36px;
  line-height: 125%;
  color: #3D4F9F;
}

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
}

body.lock {
  overflow: hidden;
}

.header {
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 4;
}

.nav-block__container {
  max-width: 1205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

@media (max-width: 767px) {
  .nav-block__container {
    min-height: 60px;
  }
}

.nav-block__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  height: 26px;
  background: #5E81FE;
  border-radius: 50%;
  overflow: hidden;
  z-index: 4;
  position: relative;
}

.nav-block__avatar img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .nav-block__avatar {
    margin: 0 auto 0 0;
  }
}

.nav-block__menu {
  margin: 0 auto 0 74px;
}

@media (max-width: 992px) {
  .nav-block__menu {
    margin: 0 auto 0 48px;
  }
}

@media (max-width: 830px) {
  .nav-block__menu {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .nav-block__menu {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background: #5E81FE;
    padding: 100px 40px 40px;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
}

.nav-block__menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-block__list {
  z-index: 4;
  position: relative;
}

@media (min-width: 768px) {
  .nav-block__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 42px;
            column-gap: 42px;
    row-gap: 10px;
  }
}

@media (max-width: 992px) {
  .nav-block__list {
    -webkit-column-gap: 28px;
            column-gap: 28px;
  }
}

@media (max-width: 767px) {
  .nav-block__list {
    margin: 0 0 30px 0;
  }
  .nav-block__list > *:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

.nav-block__link {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 12px;
  padding: 5px 0;
  line-height: 125%;
  letter-spacing: 0.05em;
  color: #697CA6;
  text-shadow: 0px 0px 5px #E6E6E6;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (any-hover: hover) {
  .nav-block__link:hover {
    color: #5E81FE;
    text-shadow: 0px 0px 5px #E6E6E6;
  }
}

@media (max-width: 767px) {
  .nav-block__link {
    text-shadow: none;
    color: #FFF;
    font-size: 30px;
    display: block;
    width: 100%;
  }
}

.nav-block__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 38px;
          column-gap: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 45px 0 0;
  position: relative;
  z-index: 4;
}

@media (max-width: 992px) {
  .nav-block__socials {
    -webkit-column-gap: 25px;
            column-gap: 25px;
    margin: 0 28px 0 0;
  }
}

@media (max-width: 767px) {
  .nav-block__socials {
    background: #D2E1FF;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 20px;
  }
}

.nav-block__socials-item .icon-tg {
  font-size: 20px;
  color: #B6BAC7;
}

@media (max-width: 767px) {
  .nav-block__socials-item .icon-tg {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .nav-block__socials-link {
    font-size: 25px;
  }
}

.main-slider {
  min-height: 570px;
  background: url("../img/main-slider/bg.jpg") center 75%/cover no-repeat;
  padding: 92px 0;
  border-top: 1px solid #D8E3FE;
  border-bottom: 1px solid #D8E3FE;
}

@media (max-width: 767px) {
  .main-slider {
    padding: 75px 0;
  }
}

.main-slider__slide {
  text-align: center;
  padding: 0 15px;
}

.main-slider__subtitle {
  margin: 0 0 16px 0;
}

.main-slider__title {
  margin: 0 0 28px 0;
}

.main-slider__text {
  margin: 0 auto 20px;
  max-width: 500px;
  font-size: 15px;
  line-height: 193.33333%;
  letter-spacing: 0.03em;
  color: #8D96BD;
}

.main-slider__play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 52px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
          box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  border-radius: 50%;
  color: #5E81FF;
  font-size: 12px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.main-slider__play::before {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

@media (any-hover: hover) {
  .main-slider__play:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main-slider .swiper-pagination {
  bottom: 28px;
}

.main-slider .swiper-pagination-bullet {
  margin: 0 6px !important;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.partners {
  padding: 58px 0;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 45px;
}

@media (max-width: 555px) {
  .partners__container {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.partners__link {
  color: #D6DAE5;
  font-size: 25px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media (any-hover: hover) {
  .partners__link:hover {
    color: #5982E7;
  }
}

@media (max-width: 555px) {
  .partners__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    text-align: center;
  }
}

@media (max-width: 325px) {
  .partners__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.plan-manage {
  background: #F5F8FF;
  padding: 65px 15px 100px;
}

.plan-manage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-manage__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 410px;
          flex: 0 1 410px;
  margin: 0 0 0 auto;
}

.plan-manage__subtitle {
  margin: 0 0 27px 0;
}

.plan-manage__title {
  margin: 0 0 27px 0;
}

.plan-manage__text {
  line-height: 193.33333%;
  letter-spacing: 0.03em;
  color: #8D96BD;
  margin: 0 0 56px 0;
}

.plan-manage__buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.plan-manage__button {
  padding: 15px 25px;
  font-family: Quicksand;
  font-size: 13px;
  line-height: 123.07692%;
}

.plan-manage__button--blue {
  background: #4C85FF;
  -webkit-box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
          box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-radius: 2px 0 0 2px;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
          column-gap: 6px;
  font-weight: 700;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.plan-manage__button--blue::before {
  font-size: 8px;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

@media (any-hover: hover) {
  .plan-manage__button--blue:hover {
    background: #3b6dda;
  }
}

.plan-manage__button--transparent {
  border-radius: 0 2px 2px 0;
  color: #ADB4D2;
  font-weight: 500;
  border: 1px solid #D1D1E4;
}

.plan-manage__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.plan-manage__image img {
  max-width: 100%;
}
