//-----------------<ПОДКЛЮЧАЕМ ФАЙЛЫ СТИЛЕЙ>--------------------
@import 'nullstyle.scss';
@import 'burger.scss';
//@import 'raiting.scss';
//-----------------</ПОДКЛЮЧАЕМ ФАЙЛЫ СТИЛЕЙ>-------------------



//--------------------<ПОДКЛЮЧАЕМ ШРИФТЫ>-----------------------
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500&display=swap');
//--------------------</ПОДКЛЮЧАЕМ ШРИФТЫ>----------------------



//-----------------------<ПЕРЕМЕННЫЕ>---------------------------

//----------------------</ПЕРЕМЕННЫЕ>---------------------------

//------------------------<ШАБЛОНЫ>-----------------------------
.ibg {
    position: relative;
    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
//-----------------------</ШАБЛОНЫ>-----------------------------



//------------------------<МИКСИНЫ>-----------------------------

//-----------------------</МИКСИНЫ>-----------------------------



//---------------------<АДАПТИВНАЯ СЕТКА>-----------------------
.container {
    max-width: 920px;
    padding: 0 15px;
    margin: 0 auto;
}
//--------------------</АДАПТИВНАЯ СЕТКА>-----------------------



//-----------------------<ПОВТОРЯЮЩИЕСЯ ЭЛЕМЕНТЫ>-------------------------
.button {
    padding: 13px 20px;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 13px;
    line-height: 16/13*100%;
    color: #3A79FF;
    background: #D2E1FF;
    border-radius: 2px;
    display: inline-block;
    transition: background .3s;
    position: relative;
    z-index: 10;
    @media(any-hover: hover) {
        &:hover {
            background: #acc6ff;
        }
    }
}

.button--red {
    color: #D43F3F;
    background: #FFD7D7;
    @media(any-hover: hover) {
        &:hover {
            background: #f3bdbd;
        }
    }
}

.subtitle {
    font-weight: 500;
    font-size: 10px;
    line-height: 12/10*100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.title-1 {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 48px;
    line-height: 60/48*100%;
    color: #3D4F9F;
    & span {
        font-weight: 500;
    }
}

.title-2 {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 36px;
    line-height: 45/36*100%;
    color: #3D4F9F;
    span {
        font-weight: 500;
    }
}

.title-3 {
    text-align: center;
    font-family: Quicksand;
    font-weight: 600;
    font-size: 24px;
    line-height: 30/24*100%;
    color: #3D4F9F;

}

.swiper-pagination {
    & .swiper-pagination-bullet {
        margin: 0 6px !important;
    }
}
//----------------------</ПОВТОРЯЮЩИЕСЯ ЭЛЕМЕНТЫ>-------------------------



//-----------------------<ОСНОВНОЙ КОД>-------------------------

body {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    &.lock {
        overflow: hidden;
    }
}

//---------------------- header -------------------------
.header {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 4;
    }
}

//---------------------- nav-block -------------------------
.nav-block {
		&__container {
            max-width: 1205px;
            display: flex;
            align-items: center;
            min-height: 80px;
            column-gap: 15px;
            @media(max-width: 767px) {
                min-height: 60px;
            }
		}

		&__avatar {
            flex: 0 0 26px;
            height: 26px;
            background: #5E81FE;
            border-radius: 50%;
            overflow: hidden;
            z-index: 4;
            position: relative;
            & img {
                max-width: 100%;
            }
            @media(max-width: 767px) {
                margin: 0 auto 0 0;
            }
		}

		&__menu {
            margin: 0 auto 0 74px;
            @media(max-width: 992px) {
                margin: 0 auto 0 48px;
            }
            @media(max-width: 830px) {
                margin: 0 auto;
            }
            @media(max-width: 767px) {
                position: fixed;
                z-index: 3;
                width: 100%;
                height: 100%;
                overflow: auto;
                top: 0;
                left: 0;
                transform: translateX(-100%);
                background: #5E81FE;
                padding: 100px 40px 40px;
                transition: transform .5s;
            }
            &.active {
                transform: translateX(0);
            }
		}

		&__list {
            z-index: 4;
            position: relative;
            @media(min-width: 768px) {
                display: flex;
                align-items: center;
                column-gap: 42px;
                row-gap: 10px;
            }
            @media(max-width: 992px) {
                column-gap: 28px;
            }
            @media(max-width: 767px) {
                margin: 0 0 30px 0;
                & > *:not(:last-child) {
                    margin: 0 0 20px 0;
                }
            }
		}

		&__item {
		}

		&__link {
            font-family: Quicksand;
            font-weight: 500;
            font-size: 12px;
            padding: 5px 0;
            line-height: 15/12*100%;
            letter-spacing: 0.05em;
            color: #697CA6;
            text-shadow: 0px 0px 5px #E6E6E6;
            transition: all .3s;
            @media(any-hover: hover) {
                &:hover {
                    color: #5E81FE;
                    text-shadow: 0px 0px 5px #E6E6E6;
                }
            }   
            @media(max-width: 767px) {
                text-shadow: none;
                color: #FFF;
                font-size: 30px;
                display: block;
                width: 100%;
            }
		}

		&__socials {
            display: flex;
            column-gap: 38px;
            align-items: center;
            margin: 0 45px 0 0;
            position: relative;
            z-index: 4;
            @media(max-width: 992px) {
                column-gap: 25px;
                margin: 0 28px 0 0;
            }
            @media(max-width: 767px) {
                background: #D2E1FF;
                display: inline-flex;
                //justify-content: center;
                padding: 20px;
            }
		}

		&__socials-item {
            & .icon-tg {
                font-size: 20px;
                color: #B6BAC7;
                @media(max-width: 767px) {
                    font-size: 25px;
                }
            }
		}

		&__socials-link {
            @media(max-width: 767px) {
                font-size: 25px;
            }
		}
}

//---------------------- main-slider -------------------------
.main-slider {
    min-height: 570px;
    background: url("../img/main-slider/bg.jpg") center 75% / cover no-repeat;
    padding: 92px 0;
    border-top: 1px solid #D8E3FE;
    border-bottom: 1px solid #D8E3FE;
    @media(max-width: 767px) {
        padding: 75px 0;
    }
    &__wrapper {
    }

    &__slide {
        text-align: center;
        padding: 0 15px;
    }

    &__subtitle {
        margin: 0 0 16px 0;
    }

    &__title {
        margin: 0 0 28px 0;
    }

    &__text {
        margin: 0 auto 20px;
        max-width: 500px;
        font-size: 15px;
        line-height: 29/15*100%;
        letter-spacing: 0.03em;
        color: #8D96BD;
    }

    &__play {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        background: #FFFFFF;
        box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
        border-radius: 50%;
        color: #5E81FF;
        font-size: 12px;
        transition: transform .4s;
        &::before {
            transform: translate(1px, 1px);
        }
        @media(any-hover: hover) {
            &:hover {
                transform: rotate(360deg);
            }
        }
    }

    & .swiper-pagination {
        bottom: 28px;
    }
}

//---------------------- partners -------------------------
.partners {
    padding: 58px 0;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 45px;
        @media(max-width: 555px) {
            column-gap: 0;
        }
    }

    &__link {
        color: #D6DAE5;
        font-size: 25px;
        transition: color .3s;
        @media(any-hover: hover) {
            &:hover {
                color: #5982E7;
            }
        }
        @media(max-width: 555px) {
            flex: 1 1 50%;
            text-align: center;
        }
        @media(max-width: 325px) {
            flex: 1 1 100%;
        }
    }
}

//---------------------- plan-manage -------------------------
.plan-manage {
    background: #F5F8FF;
    padding: 65px 15px 100px;
    border-top: 1px solid #D8E3FE;
    border-bottom: 1px solid #D8E3FE;
    @media(max-width: 767px) {
        padding: 65px 15px;
    }
    &__container {
        @media(min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    &__info {
        flex: 0 1 410px;
        margin: 0 0 0 auto;
        @media(max-width: 767px) {
            text-align: center;
        }
    }

    &__subtitle {
        margin: 0 0 27px 0;
    }

    &__title {
        margin: 0 0 27px 0;
    }

    &__text {
        line-height: 29/15*100%;
        letter-spacing: 0.03em;
        color: #8D96BD;
        margin: 0 0 56px 0;
        @media(max-width: 767px) {
            margin: 0 0 27px 0;
        }
    }

    &__buttons {
        display: inline-flex;
    }

    &__button {
        padding: 15px 25px;
        font-family: Quicksand;
        font-size: 13px;
        line-height: 16/13*100%;
    }

    &__button--blue {
        background: #4C85FF;
        box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
        border-radius: 2px 0 0 2px;
        color: #FFFFFF;
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        column-gap: 6px;
        font-weight: 700;
        transition: background .3s;
        &::before {
            font-size: 8px;
            transform: translateY(1px);
        }
        @media(any-hover: hover) {
            &:hover {
                background: #3b6dda;
            }
        }
    }

    &__button--transparent {
        border-radius: 0 2px 2px 0;
        color: #ADB4D2;
        font-weight: 500;
        border: 1px solid #D1D1E4;
    }

    &__image {
        flex: 0 1 50%;
        @media(max-width: 767px) {
            text-align: center;
        }
        & img {
            max-width: 100%;
        }
    }
}

//---------------------- about-us -------------------------
.about-us {
    position: relative;
    padding: 170px 0;
    border-bottom: 1px solid #D8E3FE;
    @media(max-width: 992px) {
        padding: 100px 0;
    }
    &__cloud {
        position: absolute;
        z-index: -1;
    }

    &__cloud--1 {
        top: 10%;
        left: 10%;
        @media(max-width: 450px) {
            top: 3%;
        }
    }

    &__cloud--2 {
        top: 16%;
        right: 4%;
        @media(max-width: 450px) {
            top: 12%;
        }
    }

    &__cloud--3 {
        bottom: 20%;
        left: 4%;
        @media(max-width: 560px) {
            bottom: -5%;
        }
    }

    &__subtitle {
        text-align: center;
        margin: 0 0 20px 0;
    }

    &__title {
    }

    &__cards {
        padding: 92px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        row-gap: 25px;
        column-gap: 15px;
        @media(max-width: 550px) {
            padding: 60px 0;
        }
    }

    &__card {
        text-align: center;
        position: relative;
        &:not(:last-child) {
            &::after {
                position: absolute;
                content: '';
                width: 28px;
                height: 0.5px;
                background: #DAE4FE;
                right: -10%;
                top: 55%;
                @media(max-width: 767px) {
                    display: none;
                }
            }
        }
    }

    &__card-icon {
        width: 69px;
        height: 69px;
        background: #F1F5FF;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 0 33px 0;
        transition: transform .3s;
        @media(any-hover: hover) {
            &:hover {
                transform: rotate(180deg);
            }
        }
    }

    &__card-title {
        font-family: Open Sans;
        font-weight: 700;
        font-size: 14px;
        line-height: 25/14*100%;
        color: #4074F8;
        margin: 0 0 25px 0;
    }

    &__card-text {
        font-family: Open Sans;
        font-weight: 600;
        font-size: 11px;
        line-height: 19/11*100%;
        color: #ADB3CB;
        max-width: 140px;
        margin: 0 auto;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 370px) {
            flex-direction: column;
            row-gap: 20px;
        }
        & span {
            font-family: Open Sans;
            font-weight: 600;
            font-size: 11px;
            color: #ADB3CB;
            text-transform: uppercase;
            padding: 0 48px;
            position: relative;
            &::before, &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 0.5px;
                background: #DAE4FE;
            }
            &::before {
                left: 16px;
            }
            &::after {
                right: 16px;
            }
        }
    }
}

//---------------------- advantages -------------------------
.advantages {
    display: flex;
    flex-wrap: wrap;
    &__column {
        flex: 0 1 50%;
        padding: 66px 90px;
        background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
        color: #5E80FF;
        @media(max-width: 992px) {
            padding: 50px;
        }
        @media(max-width: 590px) {
            flex: 0 1 100%;
            text-align: center;
        }
    }

    &__column--left {
        background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
        color: #fff;
        @media(min-width: 591px) {
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: end;
        }
    }

    &__icon {
        margin: 0 0 15px 0;
    }

    &__number {
        font-family: Quicksand;
        font-weight: 400;
        font-size: 48px;
        line-height: 83/48*100%;
        letter-spacing: 0.03em;
        margin: 0 0 13px 0;
    }

    &__text {
        font-family: Quicksand;
        font-weight: 500;
        font-size: 18px;
        line-height: 23/18*100%;
        letter-spacing: 0.03em;
        max-width: 260px;
        @media(max-width: 590px) {
            margin: 0 auto;
        }
    }
}

//---------------------- our-resoucers -------------------------
.our-resoucers {
    background: #F5F8FF;
    padding: 104px 0;
    border-bottom: 1px solid #D8E3FE;
    border-top: 1px solid #D8E3FE;
    @media(max-width: 992px) {
        padding: 80px 0;
    }
    &__container {
        max-width: 1188px;
    }

    &__subtitle {
        text-align: center;
        margin: 0 0 20px 0;
    }

    &__title {
    }

    &__slider {
        padding: 92px 0 110px 0;
        position: relative;
        @media(max-width: 992px) {
            padding: 60px 0;
        }
        @media(max-width: 500px) {
            margin: 0 -15px;
        }
    }

    &__slider-wrapper {
    }

    &__slide {
        padding: 0 100px;
        @media(max-width: 992px) {
            padding: 0 50px;
        }
        @media(max-width: 767px) {
            padding: 0;
        }
    }

    &__slide-body {
        background: #fff;
        padding: 64px 35px;
        column-gap: 20px;
        @media(max-width: 992px) {
            padding: 35px;
        }
        @media(min-width: 993px) {
            display: flex;
            justify-content: space-between;
        }
        @media(max-width: 500px) {
            padding: 20px;
        }
    }

    &__images {
        flex: 0 1 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        @media(max-width: 992px) {
            margin: 0 0 15px 0;
        }
        @media(max-width: 550px) {
            gap: 5px;
        }
    }

    &__image {
        position: relative;
        padding: 0 0 100% 0;
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
        border-radius: 5px;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }
        &:nth-child(1)::before {
            background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%), url(photo-1474377207190-a7d8b3334068.jpg);
        }
        &:nth-child(2)::before {
            background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%), url(photo-1456615074700-1dc12aa7364d.jpg);
        }
        &:nth-child(3)::before {
            background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%), url(photo-1497348231296-713b847f4ca4.jpg);
        }
        @media(any-hover: hover) {
            &:hover .our-resoucers__search {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__image:nth-child(1) {
        @media(min-width: 993px) {
            grid-row: span 2;
            grid-column: span 2;
        }
    }

    &__search {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 4;
        display: flex;
        visibility: hidden;
        opacity: 0;
        justify-content: center;
        align-items: center;
        transition: all .3s;
    }

    &__search-icon {
        flex: 0 0 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        border-radius: 50%;
        background: #fff;
        color: #A7AAC6;
    }

    &__info {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        @media(max-width: 992px) {
            & > *:not(:last-child) {
                margin: 0 0 15px 0;
            }
        }
    }

    &__title {
        margin: 0 0 28px 0;
        @media(max-width: 550px) {
            font-size: 28px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 27/14*100%;
        letter-spacing: 0.03em;
        color: #8D96BD;
        flex: 1 1 auto;
        margin: 0 0 20px 0;
    }

    &__buttons {
        display: flex;
        column-gap: 8px;
        @media(max-width: 550px) {
            column-gap: 2px;
        }
    }

    &__button {
        background: none !important;
        color: #A6B6DA;
        @media(any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    & .swiper-pagination {
        bottom: 0;
    }

    &__prev, &__next {
        color: #A8B4E5;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 30;
        line-height: 0;
        padding: 20px;
        @media(max-width: 767px) {
            font-size: 18px;
        }
    }

    &__prev {
        left: 0;
        @media(max-width: 500px) {
            left: -18px;
        }
    }

    &__next {
        right: 0;
        @media(max-width: 500px) {
            right: -18px;
        }
    }
}

//---------------------- quotes -------------------------
.quotes {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    padding: 110px 0;
    @media(min-width: 768px) {
        display: flex;
    }
    overflow: hidden;
    @media(max-width: 992px) {
        padding: 70px 0;
    }
    &__content {
        flex: 0 0 100%;
    }

    &__info {
        @media(min-width: 768px) {
            max-width: 50%;
            padding: 36px 0 0 0;
        }
    }

    &__subtitle {
        margin: 0 0 30px 0;
        @media(max-width: 767px) {
            margin: 0 0 20px 0;
        }
    }

    &__title {
        margin: 0 0 14px 0;
    }

    &__text {
        line-height: 23/12*100%;
        letter-spacing: 0.03em;
        color: #A4ABC8;
        font-size: 16px;
        max-width: 500px;
        @media(min-width: 768px) {
            font-size: 12px;
            max-width: 300px;
        }
    }

    &__slider {
        flex: 0 0 50%;
        padding: 40px 15px 78px;
        position: relative;
        @media(min-width: 768px) {
            transform: translateX(-100%);
            padding: 0 0 78px 20px;
        }
    }

    &__slider-wrapper {
    }

    &__slide {
        position: relative;
        padding: 44px 70px;
        background: #fff;
        border: 1px solid #D8E3FE;
        box-shadow: 0px 5px 50px #F3F5FA;
        transition: opacity .3s;
        @media(max-width: 992px) {
            padding: 40px;
        }
    }

    & .swiper-slide-next {
        opacity: 0.5;
    }

    &__slide-text {
        font-family: Roboto;
        font-size: 14px;
        line-height: 24/14*100%;
        letter-spacing: 0.03em;
        color: #676F95;
    }

    &__slide-avatar {
        position: absolute;
        width: 62px;
        height: 62px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        & img {
            max-width: 100%;
        }
    }

    & .swiper-pagination {
        bottom: 0;
        @media(min-width: 768px) {
            text-align: left;
            left: 154px;
        }
    }
}

//---------------------- quotes -------------------------
.questions {
    padding: 175px 0;
    border-bottom: 1px solid #D8E3FE;
    border-top: 1px solid #D8E3FE;
    @media(max-width: 992px) {
        padding: 90px 0;
    }
    @media(max-width: 767px) {
        padding: 70px 0;
    }
    &__subtitle {
        margin: 0 0 20px 0;
        text-align: center;
    }

    &__title {
        margin: 0 0 68px 0;
        @media(max-width: 992px) {
            margin: 0 0 45px 0;
        }
        @media(max-width: 767px) {
            margin: 0 0 30px 0;
        }
    }

    &__list {
        padding: 0 72px;
        @media(max-width: 992px) {
            padding: 0;
        }
    }

    &__item {
        border-bottom: 1px solid #D8E3FE;
        &--active {
            & .questions__active-btn {
                color: #495274;
                font-weight: 700;
            }
            & .questions__active-btn::before {
                transform: rotate(180deg);
            }
            & .questions__item-body {
                @media(min-width: 768px) {
                    display: flex;
                }
                display: block;
            }
        }
    }

    &__active-btn {
        display: flex;
        width: 100%;
        align-items: center;
        background: none;
        font-family: Quicksand;
        font-weight: 500;
        font-size: inherit;
        letter-spacing: 0.03em;
        line-height: 1.5em;
        text-align: left;
        column-gap: 24px;
        padding: 28px 0;
        color: #8D96BD;
        transition: color .3s;
        &::before {
            font-size: 10px;
            transition: transform .3s;
        }
    }

    &__item-body {
        display: none;
        padding: 0 15px 38px 80px;
        justify-content: space-between;
        column-gap: 30px;
        align-items: center;
        @media(max-width: 992px) {
            padding: 0 15px 38px 40px;
        }
    }

    &__item-text {
        flex: 0 1 390px;
        font-size: 14px;
        line-height: 27/14*100%;
        letter-spacing: 0.03em;
        color: #8D96BD;
        @media(max-width: 992px) {
            flex: 1 1 auto;
        }
        @media(max-width: 767px) {
            margin: 0 0 20px 0;
        }
    }

    &__button {
        color: #7382A3;
        flex: 0 0 auto;
        background: #E8ECF4;
        font-weight: 500;
        padding-right: 30px;
        padding-left: 30px;
        @media(any-hover: hover) {
            &:hover {
                background: #d4d7df;
            }
        }
    }
}

//---------------------- get-started -------------------------
.get-started {
    text-align: center;
    padding: 90px 0;  
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    position: relative;
    @media(max-width: 767px) {
        padding: 75px 0;  
    }

    &__container {
        z-index: 2;
        position: relative;
    }

    &__subtitle {
        color: #fff;
        margin: 0 0 16px 0;
    }

    &__title {
        color: #fff;
        margin: 0 0 28px 0;
        @media(max-width: 767px) {
           margin: 0 0 20px 0;
        }
    
    }

    &__text {
        color: #fff;
        margin: 0 auto 58px;
        max-width: 680px;
        line-height: 29/15*100%;
        letter-spacing: 0.03em;
        @media(max-width: 767px) {
            margin: 0 0 40px 0;
         }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 8px;
    }

    &__button {
        @media(max-width: 350px) { 
            flex: 0 1 100%;
        }
    }

    &__button:nth-child(1) {
        border-radius: 2px 0 0 2px;
        background: #fff;
        color: #565F82;
        @media(any-hover: hover) {
            &:hover {
                background: rgb(218, 218, 218);
            }
        }
    }

    &__button:nth-child(2) {
        border-radius: 0 2px 2px 0;
        background: none;
        color: #C7D3FF;
        border: 1px solid #A0B4FF;
    }

	&__cloud {
        position: absolute;
        @media(max-width: 767px) {
            display: none;
        }
	}

	&__cloud--1 {
        top: 10%;
        left: 1%;
	}

	&__cloud--2 {
        bottom: 2%;
        left: 5%;
	}

	&__cloud--3 {
        bottom: 1%;
        right: 3%;
	}

}

//---------------------- sign-up -------------------------
.sign-up {
    border-bottom: 1px solid #D8E3FE;
    border-top: 1px solid #D8E3FE;
    padding: 120px 0;
    background: #FCFDFF;
    @media(max-width: 992px) {
        padding: 70px 0;
    }
    &__form {
        @media(min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
        }
    }

    &__info {
        flex: 0 1 330px;
        @media(max-width: 767px) {
            margin: 0 0 20px 0;
        }
    }

    &__title {
        font-family: Quicksand;
        font-weight: 700;
        font-size: 18px;
        line-height: 22/18*100%;
        color: #3D4F9F;
        margin: 0 0 18px 0;
        @media(max-width: 767px) {
            margin: 0 0 10px 0;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 27/14*100%;
        letter-spacing: 0.03em;
        color: #8D96BD;

    }

    &__data {
        display: flex;
        flex: 1 0 auto;
        column-gap: 14px;
        @media(min-width: 768px) {
            justify-content: end;
        }
        @media(max-width: 550px) {
            flex-direction: column;
            row-gap: 10px;
        }
    }

    &__email {
        flex: 0 1 280px;
        background: #EFEFF7;
        border-radius: 5px;
        padding: 21px 23px;
        transition: box-shadow .3s;
        &::placeholder {
            font-family: Quicksand;
            font-weight: 700;
            font-size: 13px;
            color: #7A85AD;
        }
        @media(max-width: 767px) {
            flex: 1 1 auto;
        }
        @media(any-hover: hover) {
            &:focus {
                box-shadow: 0px 2px 10px #4d6de18a;
            }
        }
    }

    &__button {
        padding: 21px 62px;
        background: #4D6CE1;
        box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
        border-radius: 5px;
        font-family: Quicksand;
        font-weight: 700;
        font-size: 13px;
        line-height: 16/13*100%;
        color: #FFFFFF;
        transition: box-shadow .3s;
        @media(min-width: 551px) {
            flex: 0 0 185px;
        }
        @media(any-hover: hover) {
            &:hover {
                box-shadow: 0px 5px 30px #4d6de19f;
            }
        }
    }
}

.footer {
    padding: 74px 0 125px 0;
    @media(max-width: 767px) {
        padding: 50px 0;
    }
    &__top {
        margin: 0 0 14px 0;
        @media(max-width: 767px) {
            display: none;
        }
    }

    &__menu {
        position: relative;
    }

    &__copyright {
        font-family: Quicksand;
        font-weight: 500;
        font-size: 12px;
        line-height: 15/12*100%;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: #AEB8D0;
    }

    &__copyright--outer {
        @media(min-width: 768px) {
            display: none;
        }
        @media(max-width: 767px) {
            text-align: center;
        }
    }

    &__copyright--inner {
        position: absolute;
        left: 0;
        top: 57px;
    }
}

//----------------------</ОСНОВНОЙ КОД>-------------------------