//-----------------<ПОДКЛЮЧАЕМ ФАЙЛЫ СТИЛЕЙ>--------------------
@import 'nullstyle.scss';
@import 'burger.scss';
//-----------------</ПОДКЛЮЧАЕМ ФАЙЛЫ СТИЛЕЙ>-------------------



//--------------------<ПОДКЛЮЧАЕМ ШРИФТЫ>-----------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
//--------------------</ПОДКЛЮЧАЕМ ШРИФТЫ>----------------------



//-----------------------<ПЕРЕМЕННЫЕ>---------------------------

//----------------------</ПЕРЕМЕННЫЕ>---------------------------



//------------------------<ШАБЛОНЫ>-----------------------------
.ibg {
    position: relative;
    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
//-----------------------</ШАБЛОНЫ>-----------------------------



//------------------------<МИКСИНЫ>-----------------------------

//-----------------------</МИКСИНЫ>-----------------------------



//---------------------<АДАПТИВНАЯ СЕТКА>-----------------------
.container {
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}

/*@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}*/
//--------------------</АДАПТИВНАЯ СЕТКА>-----------------------



//-----------------------<ОСНОВНОЙ КОД>-------------------------
body {
    font-family: Roboto;
    font-weight: 900;
    font-size: 20px;
    color: #1D1B19;
    &.lock {
        overflow: hidden;
    }
}
//----------------------</ОСНОВНОЙ КОД>-------------------------

//---------------------- Btn -------------------------
.btn {
    padding: 18px 40px;
    background: #FF5300;
    display: inline-block;
    border: 2px solid #FF5300;
    position: relative;
    & span {
        font-size: 18px;
        line-height: 21/18*100%;
        color: #fff;
        position: relative;
        z-index: 2;
        transition: all .3s;
    }
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #fff;
        position: absolute;
        transform: scale(0, 0);
        transition: all .3s;
    }
    @media(any-hover: hover) {
        &:hover {
            & span {
                color: #FF5300;
            }
            &::after {
               transform: scale(1, 1); 
            }
        }
    }
}

.title {
    font-size: 48px;
    line-height: 56/46*100%;
    &--center {
        text-align: center;
    }
    @media(max-width: 1140px) {
        font-size: 40px;
    }
    @media(max-width: 992px) {
        font-size: 32px;
    }
}

.raiting {
    display: flex;
    column-gap: 5px;
}

.icon-star-1, .icon-star-2 {
    color: #FFC107;
    font-size: 12px;
}

//---------------------- Header -------------------------
.header {
    position: relative;
    z-index: 50;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 2;
    }

    &__body {
        min-height: 116px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 40px;
        @media(max-width: 767px) {
            min-height: 80px;
        }
    }

    &__logo {
        position: relative;
        z-index: 3;
    }

    &__logo-img {
    }

    &__menu {
        @media(max-width: 767px) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: -100%;
            left: 0;
            overflow: auto;
            padding: 90px 40px 40px;
            transition: all .3s;
            background: #fff;
            &.active {
                top: 0;
            }
        }
    }

    &__list {
        @media(min-width: 768px) {
            display: flex;
        }
        column-gap: 63px;
        row-gap: 10px;
        flex-wrap: wrap;
        position: relative;
        z-index: 3;
    }

    &__list-item {
        @media(max-width: 767px) {
            &:not(:last-child) {
               margin: 0 0 20px 0;
            }
        }
    }

    &__list-link {
        font-size: 20px;
        line-height: 23/20*100%;
        color: #1d1b1986;
        transition: all .3s;
        position: relative;
        @media(any-hover: hover) {
            &:hover {
                color: #1D1B19;
                &::after {
                    width: 42/54*100%;
                }
            }
        }
        @media(max-width: 767px) {
            font-size: 25px;
        }
        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 0;
            background: #FF5300;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%, 0);
            transition: all .3s;
        }
    }
}

//---------------------- Hello -------------------------
.hello {

    &__body {
        padding: 150px 0 220px 0;
        position: relative;
        @media(max-width: 1165px) {
            padding: 120px 0;
        }
        @media(max-width: 992px) {
            padding: 110px 0;
        }
        @media(max-width: 767px) {
            padding: 40px 0 50px 0;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        @media(max-width: 767px) {
            margin: 0 0 20px 0;
        }
    }

    &__title {
        font-size: 60px;
        line-height: 70/60*100%;
        max-width: 785px;
        margin: 0 0 30px 0;
        @media(max-width: 1165px) {
            font-size: 50px;
        }
        @media(max-width: 992px) {
            font-size: 40px;
            max-width: 500px;
            margin: 0 0 20px 0;
        }
        @media(max-width: 767px) {
            //text-align: center;
            max-width: none;
        }
        @media(max-width: 450px) {
            font-size: 32px;
        }
    }

    &__btn {
        background: none;
        display: flex;
        column-gap: 14px;
        align-items: center;
    }

    &__btn-play {
        flex: 0 0 42px;
        height: 42px;
        background: #FF5300;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
            transform: translate(2px, 0);
        }
    }

    &__btn-text {
        font-size: 18px;
        white-space: nowrap;
    }

    &__video {
        @media(min-width: 768px) {
            position: absolute;
            right: 0;
            top: 14px;
            width: 832/1330*100%;
        }
        @media(max-width: 992px) {
            top: 25px;
        }
        width: 100%;
    }

    &__video-body {
        width: 100%;
        padding: 0 0 555/832*100%;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            right: 1px;
            bottom: 1px;
            width: 478/832*100%;
            height: 9px;
            background: #FF5300;
            z-index: 3;
        }
    }

    &__image {
    }
}

//---------------------- Advantages -------------------------
.advantages {

    &__body {
        padding: 79px 25px;
        display: flex;
        justify-content: space-between;
        row-gap: 35px;      
        flex-wrap: wrap;
        @media(max-width: 880px) {
            padding: 10px 25px 40px 0;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            padding: 0 30px 0 0;
        }
        @media(max-width: 880px) {
            flex: 0 1 50%;
        }
        @media(max-width: 500px) {
            flex: 0 1 100%;
            &:not(:last-child) {
                padding: 0;
            }
        }
    }

    &__image {
        margin: 0 38px 0 0;
        @media(max-width: 992px) {
            margin: 0 22px 0 0;
        }
    }

    &__info {
        font-size: 18px;
        line-height: 21/18*100%;
        color: #352F2B;
        span {
            margin: 0 0 4px 0;
            display: block;
            color: #FF5300;
        }
    }
}

//---------------------- Places -------------------------
.places {

    &__body {
        padding: 82px 0 56px 0;
        align-items: center;
        @media(min-width: 993px) {
            display: flex;
        }
        @media(max-width: 1140px) {
            padding: 42px 0;
        }
        @media(max-width: 992px) {
            text-align: center;
        }
    }

    &__content {
        flex: 0 1 516px;
        @media(max-width: 1140px) {
            flex: 0 1 450px;
        }
        @media(max-width: 992px) {
            margin: 0 0 20px 0;
        }
    }

    &__title {
        max-width: 360px;
        margin: 0 0 41px 0;
        @media(max-width: 1140px) {
            margin: 0 0 25px 0;
        }
        @media(max-width: 992px) {
            max-width: none;
            margin: 0 0 20px 0;
        }
    }

    &__text {
        line-height: 23/20*100%;
        color: #000000;
        opacity: 0.5;
        max-width: 440px;
        margin: 0 0 30px 0;
        @media(max-width: 992px) {
            max-width: none;
            font-size: 18px;
            margin: 0 0 20px 0;
        }
    }

    &__slider {
        flex: 1 1 auto;
    }
}

//---------------------- Slider-places -------------------------
.slider-places {
    display: flex;
    column-gap: 22px;
    row-gap: 10px;
    position: relative;
    @media(max-width: 992px) {
        column-gap: 6px;
    }
    @media(max-width: 450px) {
        flex-direction: column;
    }

    &__next {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 5;
        font-size: 22px;
        transform: translate(50%, -50%);
        background: #FF5300;
        @media(max-width: 767px) {
            width: 35px;
            height: 35px;
            font-size: 18px;
        }
        @media(max-width: 450px) {
            top: auto;
            right: auto;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%) rotate(90deg);
        }
        & span {
            transform: translate(2px, 2px);
        }
    }

    &__item {
        flex: 0 1 33.333%;
        border-radius: 10px;
        overflow: hidden;
        @media(any-hover: hover) {
            &:hover {
                .slider-places__image {
                    transform: scale(1.2);
                }
            }
        }
    }

    &__image {
        transition: transform .5s;
        height: 337px;
        position: relative;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F29C72 100%);
            z-index: 3;
        }
        @media(max-width: 992px) {
            height: 250px;
        }
    }

    &__info {
        position: absolute;
        bottom: 30px;
        left: 20px;
    }

    &__name {
        color: #fff;
        font-size: 18px;
        line-height: 21/18*100%;
        margin: 0 0 8px 0;
    }
}

//---------------------- Best-travels -------------------------
.best-travels {

    &__body {
        padding: 55px 0;
        @media(max-width: 992px) {
            padding: 45px 0;
        }
    }

    &__title {
        margin: 0 0 63px 0;
        @media(max-width: 992px) {
            margin: 0 0 45px 0;
        }
        @media(max-width: 768px) {
            margin: 0 0 35px 0;
        }
    }

    &__places {
        display: flex;
        padding: 0 135px;
        row-gap: 25px;
        margin: 0 -8px;
        @media(max-width: 992px) {
            padding: 0;
        }
        @media(max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 0 8px;
        border-radius: 10px;
        overflow: hidden;
        flex: 0 1 25%;
        font-size: 18px;
        @media(max-width: 768px) {
            flex: 0 1 50%;
        }
        @media(max-width: 400px) {
            flex: 0 1 100%;
        }
    }

    &__image {
        display: block;
        overflow: hidden;
        width: 100%;
        padding: 0 0 337/252*100%;
        position: relative;
        margin: 0 0 17px 0;
        & img {
            transition: transform .5s;
        }
        @media(any-hover: hover) {
            &:hover img {
                transform: scale(1.2);
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    &__text {
        color: #000;
        line-height: 21/18*100%;
        margin: 0 0 15px 0;
        @media(any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
        @media(max-width: 768px) {
            margin: 0 0 8px 0;
        }
    }

    &__name {
        color: #FFD4BF;
        margin: 0 0 8px 0;
    }

}

//---------------------- Near-you -------------------------
.near-you {

    &__body {
        padding: 55px 0;
        @media(max-width: 992px) {
            padding: 30px 0;
        }
        @media(max-width: 767px) {
            padding: 30px 0;
        }
        @media(max-width: 767px) {
            padding: 25px 0;
        }
    }

    &__title {
        margin: 0 0 90px 0;
        @media(max-width: 992px) {
            margin: 0 0 30px 0;
        }
        @media(max-width: 767px) {
            margin: 0 0 20px 0;
        }
    }

    &__places {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        padding: 28px 40px;
        display: flex;
        align-items: center;
        column-gap: 34px;
        flex: 0 1 25%;
        @media(max-width: 1060px) {
            flex: 0 1 33.333%;
        }
        @media(max-width: 880px) {
            flex: 0 1 50%;
        }
        @media(max-width: 650px) {
            flex: 0 1 100%;
        }
    }

    &__image {
        position: relative;
        flex: 0 0 118px;
        border-radius: 10px;
        overflow: hidden;
        height: 76px;
    }

    &__info {
    }

    &__name {
        display: block;
        color: #1D1B19;
        line-height: 23/20*100%;
        margin: 0 0 6px 0;
        @media(any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//---------------------- Best-places -------------------------
.best-places {
    &__body {
        padding: 56px 0;
        @media(max-width: 992px) {
            padding: 30px 0;
        }
        @media(max-width: 767px) {
            padding: 25px 0;
        }
    }

    &__title {
        
        margin: 0 0 63px 0;
        @media(max-width: 992px) {
            margin: 0 0 50px 0;
        }
        @media(max-width: 767px) {
            margin: 0 0 40px 0;
        }
    }

    &__images {
        display: flex;
        column-gap: 16px;
        @media(max-width: 767px) {
            flex-wrap: wrap;
            row-gap: 16px;
        }
    }

    &__column {
        flex: 0 1 50%;
        min-height: 256px;
        @media(max-width: 767px) {
            flex: 0 1 100%;
        }
    }

    &__column--big-img {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        & .best-places__image {
            padding: 0 0 468/657*100% 0;
        }
    }

    &__column--grid {
        display: flex;
        column-gap: 17px;
        @media(max-width: 767px) {
            column-gap: 10px;
            row-gap: 10px;
        }
    }

    &__image {
    }

    &__info {
        color: #fff;
        position: absolute;
        left: 30px;
        bottom: 20px;
        max-width: 320px;
        @media(max-width: 450px) {
            left: 20px;
            bottom: 30px;
        }
    }

    &__name {
        line-height: 23/20*100%;
        margin: 0 0 8px 0;
    }

    &__text {
        margin: 0 0 9px 0;
        font-size: 16px;
        max-width: 100%;
        line-height: 19/16*100%;
        @media(max-width: 450px) {
            display: none;
        }
    }

    &__grid-column {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        &:nth-child(1) {
            flex: 0 1 33.434%;
            & .best-places__grid-item:nth-child(1) .best-places__image{
                padding: 0 0 320/204*100%;
            }
            & .best-places__grid-item:nth-child(2) {
                flex: 1 1 auto;
                @media(max-width: 767px) {
                    height: 100px;
                }
                & .best-places__image {
                    height: 100%;
                }
            }
        }
        &:nth-child(2) {
            flex: 0 1 38.297%;
            & .best-places__grid-item:nth-child(1) .best-places__image{
                padding: 0 0 265/252*100%;
            }
            & .best-places__grid-item:nth-child(2) {
                flex: 1 1 auto;
                & .best-places__image {
                    height: 100%;
                }
            }
        }
        &:nth-child(3) {
            flex: 0 1 28.269%;
            & .best-places__grid-item:nth-child(1) .best-places__image{
                padding: 0 0 147/167*100%;
            }
            & .best-places__grid-item:nth-child(2) {
                flex: 1 1 auto;
                & .best-places__image {
                    height: 100%;
                }
            }
        }
    }

    &__grid-item {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        @media(any-hover: hover) {
            &:hover {
                .best-places__btn {
                    transform: translate(0, 0);
                }
            }
        }
    }

    &__btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        transform: translate(0, 100%);
        transition: all .3s;
    }
}

//---------------------- Travel-trends -------------------------
.travel-trends {
    &__body {
        display: flex;
        column-gap: 66px;
        @media(max-width: 1050px) {
            column-gap: 45px;
        }
        padding: 74px 0 70px 0;
        @media(max-width: 992px) {
            padding: 65px 0;
        }
        @media(max-width: 767px) {
            padding: 45px 0;
        }
        align-items: flex-end;
        row-gap: 20px;
        @media(max-width: 992px) {
            flex-wrap: wrap;
        }
    }

    &__images {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        @media(max-width: 992px) {
            flex: 0 1 100%;
            order: 2;
        }
    }

    &__item {
        flex: 0 1 33.333%;
    }

    &__image {
        padding: 0 0 336/252*100% 0;
        position: relative;
    }

    &__item--big {
        transform: scale(1.10, 1.15);
        z-index: 2;
        @media(max-width: 992px) {
            transform: scale(1);
        }
    }

    &__info {
        flex: 0 1 465px;
        & > *:not(:last-child) {
            margin: 0 0 30px 0;
            @media(max-width: 992px) {
                margin: 0 0 20px 0;
            }
        }
        @media(max-width: 992px) {
            flex: 0 1 100%;
            order: 1;
            text-align: center;
        }
    }

    &__title {
    }

    &__text {
        line-height: 23/20*100%;
        color: #000000;
        opacity: 0.5;
        @media(max-width: 992px) {
            font-size: 18px;
        }
    }
}

//---------------------- Partners -------------------------
.partners {
    &__body {
        padding: 80px 0 68px 0;
        @media(max-width: 992px) {
            padding: 40px 0 50px;
        }
    }

    &__title {
        margin: 0 0 90px 0;
        @media(max-width: 992px) {
            margin: 0 0 30px 0;
        }
    }

    &__cards {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 35px;
        justify-content: space-between;
        column-gap: 10px;
        row-gap: 10px;
        @media(max-width: 992px) {
            padding: 0;
        }
    }

    &__card {
        display: flex;
        column-gap: 35px;
        align-items: center;
        @media(max-width: 992px) {
            column-gap: 20px;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
    }

    &__text {
        white-space: nowrap;
        line-height: 23/20*100%;
        width: 145px;
    }
}

//---------------------- Footer -------------------------
.footer {
    padding: 68px 0 65px 0;
    @media(max-width: 992px) {
        padding: 50px 0;
    }
    @media(max-width: 450px) {
        padding: 30px 0;
    }
    &__body {
        padding: 0 0 38px 0;
        border-bottom: 1px solid #FFC107;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        @media(min-width: 993px) {
            justify-content: space-between;
        }
    }

    &__item {
        @media(max-width: 992px) {
            flex: 1 1 auto;
        }
    }

    &__logo {
        display: block;
        margin: 0 0 25px 0;
    }

    &__text {
        max-width: 405px;
        font-size: 18px;
        line-height: 21/18*100%;
        color:#C6C6C6;
        margin: 0 0 25px 0;
    }

    &__socials {
        display: flex;
        column-gap: 27px;
    }

    &__socials-item {
        color: #1D1B19;
        font-size: 17px;
    }

    &__title {
        margin: 0 0 14px 0;
    }

    &__link {
        display: block;
        font-size: 18px;
        line-height: 21/18*100%;
        color: #C6C6C6;
        &:not(:last-child) {
            margin: 0 0 4px 0;
        }
        @media(any-hover: hover) {
            &:hover {
                text-decoration: underline;  
            }
        }
    }

    &__addres, &__phone, &__mail {
        position: relative;
        padding: 0 0 0 20px;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 5px;
        }
    }
    &__addres {
        &::before {
            font-size: 13px;
        }
        text-decoration: none !important;
    }

    &__phone {
        &::before {
            font-size: 11px;
        }
    }

    &__mail {
        &::before {
            font-size: 10px;
        }
    }
}