* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-active-btn {
    background: rgb(39, 189, 209);
    border: 4px solid rgb(56, 221, 152);
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.651);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.popup--active {
    visibility: visible;
    opacity: 1;
}

.popup--active .popup__body {
    top: 0;
    transform: perspective(400px) rotateX(0deg);
}

.popup__body {
    flex: 0 0 900px;
    height: 500px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .5s ease .2s;
    transform: perspective(400px) rotateX(30deg);
    top: -100%;
}

.popup__text {
    font-size: 50px;
    letter-spacing: 0.2em;
}

@media (max-width: 992px) {
    .popup__body {
        flex: 0 0 700px;
        height: 400px;
    }

    .popup__text {
        font-size: 40px;
    }
}

@media (max-width: 767px) {
    .popup__body {
        flex: 0 0 550px;
        height: 300px;
    }

    .popup__text {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .popup__body {
        flex: 0 0 400px;
        height: 180px;
    }

    .popup__text {
        font-size: 30px;
    }
}

@media (max-width: 450px) {
    .popup__body {
        flex: 0 0 340px;
        height: 180px;
    }

    .popup__text {
        font-size: 25px;
    }
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.popup__close span {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

.popup__close span::before, .popup__close span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 13px;
}

.popup__close span::before {
    transform: rotate(40deg);
}

.popup__close span::after {
    transform: rotate(-40deg);
}

.content p {
    font-size: 30px;
}