* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	line-height: 1.3;
	font-weight: 400;
	overflow: hidden;
	background: rgba(0, 0, 0, .75);
	color: #fff;
}

:root {
	--sizeIndex: 1vw + 1vh;
	--transition: .75s cubic-bezier(0.470, 0.000, 0.215, 1.050);
	--linear: linear-gradient(90deg, rgba(233,57,220,1) 0%, rgba(226,43,119,1) 44%, rgba(95,249,195,1) 100%);
}

.slider {
	overflow: visible;
}

.slider_main {
	z-index: 1;
	transform: rotate(15deg);
	top: 12vh;
}

.slider_bg {
	z-index: 0;
	transform: rotate(-15deg);
	filter: blur(80px) saturate(200%); 
	top: -70vh;
}

.slider__wrapper {
	transition: var(--transition) !important;
}

.slider__item {
	overflow: hidden;
	border-radius: 22px;
	cursor: pointer;
	transition: all var(--transition) !important;
}

.slider__item.opened {
	transform: rotate(-15deg) scale(1.5) translateY(2vh);
	z-index: 30;
	box-shadow: 0 0 0 110000px rgba(0, 0, 0, .65);
}

.slider__img {
	width: 300%;
	height: 100%;
	object-fit: cover;
	height: 70vh;
	position: relative;
	left: -100%;
	transition: var(--transition) !important;
}

.description {
	position: absolute;
	top: 30vh;
	left: 5vw;
	max-width: 25vw;
	transition: all var(--transition);
}

.description.hidden {
	transform: translate(0, 5vh);
	opacity: 0;
}

.description.hidden .description__text {
	transform: translate(0, 2vh);
	transition: all var(--transition) .1s;
}

.description__title {
	margin-bottom: .5vh;
	text-transform: uppercase;
	font-weight: 700;
	font-size: calc(var(--sizeIndex) * 4);
	background: var(--linear);
	display: inline-block;
	color: transparent;
	-webkit-background-clip: text;
}

.description__text {
	font-size: calc(var(--sizeIndex) * .5);
}